$mq-mobile: 768px;

:root {
  // Fonts
  --font-family-main:  ui-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI Variable Display", "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
  --font-size-main: 16px;

  // colors

  --background-main: #D3D1CB;
  --darkBackground: #001e2d;
  --sideNavBar: #020f16;
  --lightBackground: #f6f7f9;

  // text color
  --fontColor: rgb(64, 78, 95);
  --primaryColor: #d9e021;
  --secondary-text-color: var(--sideNavBar);


  // shadows
  --shadow-soft: 0 0.25rem 2rem 0;
  --shadow-focused: 0px 8px 48px 0;

  // z-index
  --sidebar-z-index: 10;
}