@import "@/app/styles/variables/global";

.ReleaseFullDetails {
  .primary,
  .secondary {
    max-width: 300px;
    max-height: 400px;
    object-fit: contain;
  }

  a:hover {
    font-style: italic;
  }

  .videoDetails {
    padding: 15px;
  }

  @media (width <= $mq-mobile) {
    .cardDetails,
    .videoDetails {
      min-width: 40%;
      width: 90%;
    }

    .videoDetails {
      h4, p {
        font-size: calc(0.4rem + 2vw);
        word-break: break-all;
      }

    }
  }
}




