@import "@/app/styles/variables/global";

.ReleaseFullDetails {
  .primary,
  .secondary {
    max-width: 300px;
    max-height: 400px;
    object-fit: contain;
  }

  @media (width <= $mq-mobile) {
    .cardDetails {
      min-width: 40%;
    }
  }
}




