.MainLayout {

  .header {
    height: 35vh;
  }

  .contentLayout {
    min-height: 100vh;
    display: grid;
    grid-template-areas:
            'sidebar content rightbar';
    grid-template-columns: min-content 1fr 0.4fr;
  }

  .sidebar {
    grid-area: sidebar;
    padding: 32px 0;
    max-width: 284px;
    background: var(--sideNavBar);
    box-shadow: var(--shadow-soft);
  }

  .content {
    grid-area: content;
    max-width: 1200px;
    width: 100%;
    justify-self: center;
    padding: 32px;
    box-shadow: var(--shadow-soft);
    overflow-y: scroll;
  }

  .rightbar {
    grid-area: rightbar;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    box-shadow: var(--shadow-soft);
  }

  .rightbar,
  .sidebar {
    position: sticky;
    top: 0;
    height: 100vh;
  }

  .toolbar {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 15px 15px 20px;
    background: var(--sideNavBar);
    box-shadow: var(--shadow-soft);
  }
}

@media (width <= 600px) {
  .sidebar,
  .rightbar {
    width: 80px;
  }
}




