.Error {
  width: 100%;
  height: 100vh;

  .refresh {
    border: none;
    background: var(--lightBackground);
    box-shadow: var(--shadow-focused);
    padding: 10px 20px;
    border-radius: 8px;
  }
}
