.Dropdown {
    position: relative;

    .btn {
        background: none;
        margin: 0;
        padding: 0;
        border: none;
        outline: none;
        width: 100%;
    }

    .menu {
        flex-direction: column;
        overflow: hidden;
        min-width: 300px;
        min-height: 95vh;
        background: var(--sideNavBar);
        opacity: 0.98;
        border-radius: 6px;
        box-shadow: var(--shadow-focused);

        &.open {
            animation: fade-in 1s linear;
        }
    }

    .menuNavLink {
        width: 100%;
        border: none;
        background: none;
        outline: none;
        cursor: pointer;
        color: var(--lightBackground);

        &:first-child {
            margin-top: 30px;
        }

        &:not(:first-child) {
            padding: 15px 0;
        }
    }

}

@keyframes fade-in {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes fade-out {
    0% { opacity: 1; }
    100% { opacity: 0; }
}





