@import "@/app/styles/variables/global";

.ArtistsListItem {
  box-shadow: var(--shadow-soft);

  &:hover {
    box-shadow: var(--shadow-focused);
  }

  .imgContainer {
    max-width: 200px;
    min-width: 100px;
  }

  @media (width <= $mq-mobile) {
    .imgContainer {
      min-width: 0;
    }
  }

  h3, h4 {
    font-weight: 600;
    font-size: calc(0.6rem + 1vw);
  }
}